body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 1px;
  padding: 0px;
}

.title{
  font-size:4.5rem;
  font-weight:300;
  line-height:1.2;
}

.belowTitle{
  font-size:1.25rem;
  font-weight:300
}
#currentDay{
  margin-bottom: 10px;
}

/*The container is used for our local storage confirmations*/
.container {
  text-align: center;
  font-size: 16px;
}

.container span{
  color: red;
}
/*This hide class is used to display/remove display for the confirmation messages*/
.hide{
  display: none;
}
.row {
  height: 80px;
  border-top: 1px solid white;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2px;
}

.time-block{
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  margin-left: 5px;
  width: 5%;
  text-align: center;
}

#description{
  color: #000000;
  width: 87%;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/*These next 3 classes are used to change the background colors of the textarea... they determine if the event has passed, is present or coming up*/
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 6%;
  text-align: center;
}

.saveBtn i{
  color: white;
  font-size: 20px;
}

/*when you hover over the icon, it'll expand and resize when you hover off*/
.saveBtn i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

.btnContainer{
  text-align: center;
}
.clearBtn{
  font-size: 20px;
  text-align: center;
  width: 50%;
  height: 40px;
  border-radius: 15px;
}
.clearBtn:active {
  background-color: #06AED5;
}

/*for different screen widths*/
@media only screen and (max-width: 678px) {
  body{
    font-size: 14px;
  }
  .title{
    font-size: 3.5rem;
    font-weight:250;
    line-height: 1;
  }
  .belowTitle{
    font-size: 1rem;
    font-weight:125;
  }
  .jumbotron {
    border-bottom: 7px solid black;
  }
  #description{
    width: 76%;
  }
  .time-block{
    width: 11%;
  }
  .saveBtn{
    width: 11%;
  }
  .clearBtn{
    width: 70%;
  }
}

@media only screen and (max-width: 600px){
  .title{
    font-size: 2.75rem;
  }
  #description{
    width: 74%;
  }
  .time-block{
    width: 12%;
  }
  .saveBtn{
    width: 12%;
  }
  .clearBtn{
    font-size: 16px;
  }
}

@media only screen and (max-width: 455px){
  .title{
    font-size: 2.25;
  }
  .belowTitle{
    font-size: .9rem;
  }
  #description{
    width: 70%;
  }
  .time-block{
    width: 14%;
  }
  .saveBtn{
    width: 14%;
  }
  .clearBtn{
    width: 60%;
  }

}

/*Anything below this is basically a mobile device*/
@media only screen and (max-width: 400px){
  .title{
    font-size: 1.75;
  }
  .belowTitle{
    font-size: .8rem;
  }
  .row{
    height: 60px;
  }
  #description{
    width: 66%;
  }
  .time-block{
    width: 16%;
  }
  .saveBtn{
    width: 16%;
  }
  .saveBtn i{
    font-size: 16px;
  }
  .saveBtn i:hover {
    font-size: 20px;
  }
  
}

